<!-- Normal Tab - Original V1 QR Generator -->
<div class="tab-pane fade show active px-4 py-4 bg-light bg-gradient rounded-bottom-4" id="home-tab-pane" role="tabpanel" aria-labelledby="normal-tab" ng-controller="v1-controller" tabindex="0">
    <div class="loading-bar" ng-show="isLoading"></div>
    <form>
        <!-- Above Settings -->
        <div class="row row-cols-2">
            <!-- Required Bank Info -->
            <div class="col">
                <label class="h4 fw-bold">Banking Info:</label>

                <div class="form-group">
                    <label for="acquier_id">Bank BIN:</label>
                    <select class="form-control" id="acquier_id" ng-model="qrData.acquier_id"
                            ng-options="bank.bin as (bank.shortName + ' (' + bank.name + ')') for bank in banks">
                    <option value="" disabled>Select a bank</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="consumer_id">Consumer ID:</label>
                    <input type="text" class="form-control" id="consumer_id" ng-model="qrData.consumer_id">
                </div>
                <div class="form-group">
                    <label for="money">Money:</label>
                    <input type="text" class="form-control" id="money" ng-model="qrData.money" placeholder="VND">
                </div>
                <div class="form-group">
                    <label for="content">Content:</label>
                    <input type="text" class="form-control" id="content" ng-model="qrData.content"
                           placeholder="Let your customer decide">
                </div>
                <div class="form-group">
                    <label for="service_code">Service Code:</label>
                    <select class="form-control" id="service_code" ng-model="qrData.service_code"
                            ng-options="service.code as service.name for service in services">
                    </select>
                </div>
            </div>

            <!-- QR Settings -->
            <div class="col">
                <label class="h4 fw-bold">QR Settings:</label>

                <div class="form-group">
                    <label for="margin">Margin:</label>
                    <input type="number" class="form-control" id="margin" ng-model="qrData.margin" placeholder="Default">
                </div>

                <div class="row">
                    <div class="col pe-1">
                        <div class="form-group">
                            <label for="scale">Scale:</label>
                            <input type="number" class="form-control" id="scale" ng-model="qrData.scale" placeholder="Default 4">
                        </div>
                    </div>

                    <div class="col ps-1">
                        <div class="form-group">
                            <label for="width">Width:</label>
                            <input type="number" class="form-control" id="width" ng-model="qrData.width" placeholder="Default 4">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="logo">Logo URL:</label>
                    <input type="text" class="form-control" id="logo" ng-model="qrData.logo"
                           placeholder="No logo, better readability">
                </div>

                <div class="form-group">
                    <label for="color">Color:</label>
                    <input type="number" class="form-control" id="color" ng-model="qrData.color"
                           placeholder="Takes precedence over scale">
                </div>

                <div class="row">

                    <div class="col pe-1">
                        <div class="form-group">
                            <label for="color_dark">Color Dark:</label>
                            <input type="text" class="form-control" id="color_dark" ng-model="qrData.color_dark"
                                   placeholder="Default #000000ff">
                        </div>
                    </div>

                    <div class="col ps-1">
                        <div class="form-group">
                            <label for="color_light">Color Light:</label>
                            <input type="text" class="form-control" id="color_light" ng-model="qrData.color_light"
                                   placeholder="Default #ffffffff">
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- Advanced Settings and Generation -->
        <div class="row row-cols-2 mt-3">
            <!-- Advanced Settings -->
            <div class="col">
                <label class="h4 fw-bold">Advanced QR Setting</label>

                <div class="form-group">
                    <label for="mode">Mode:</label>
                    <input type="text" class="form-control" id="mode" ng-model="qrData.mode">
                </div>
                <div class="form-group">
                    <label for="version">Version:</label>
                    <input type="text" class="form-control" id="version" ng-model="qrData.version">
                </div>
                <div class="form-group">
                    <label for="errorCorrectionLevels">Error Correction Levels:</label>
                    <select class="form-control" id="errorCorrectionLevels" ng-model="qrData.error_correction_level"
                            ng-options="errorCorrectionLevel.code as errorCorrectionLevel.name for errorCorrectionLevel in errorCorrectionLevels">
                        <option value="">Select an error correction level</option>
                    </select>
                </div>

                <div class="mt-4 flex align-content-between">
                    <a class="generateBtn" type="button" ng-click="generateQR('png')" >Generate PNG QR</a>
                    <a class="generateBtn" type="button" ng-click="generateQR('svg')" >Generate SVG QR</a>
                </div>

            </div>

            <!-- Gneerated Images and Errors -->
            <div class="col">
                <label class="h4 fw-bold">QR Generation Result:</label>

                <div class="result-box">
                    <div ng-if="error">
                        <p class="error">{{ error }}</p>
                    </div>
                
                    <div class="mt-4" ng-if="qrResult">
                        <img class="mw-100" ng-if="qrType === 'png'" ng-src="{{qrResult}}" alt="QR Code">
                        <div class="mw-100" ng-if="qrType === 'svg'" ng-bind-html="qrResult"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



