<head>
    <meta charset='utf-8' />
    <link rel="icon" href="/images/logo.png" type="image/png">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel="icon" href="/images/favicon.ico" type="image/x-icon"> -->
    <script src="/javascripts/vendor/angular.min.js"></script>
    <script src="/javascripts/vendor/bootstrap.min.js"></script>
    <script src="/javascripts/vendor/bootstrap.bundle.min.js"></script>
</head>